.award {
  width: 100%;
  height: 74.07dvh;
  background-color: var(--white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.605vmax;
  justify-content: space-between;
}

.award__top {
  display: flex;
  flex-direction: column;
  gap: 1.05vmax;
  width: 100%;
}

.award__card_wrapper {
  display: grid;
  width: 88.54vmax;
  grid-template-columns: repeat(auto-fill, minmax(14.58vmax, 1fr));
  grid-auto-rows: 20vmax;
  flex-shrink: 0;
  gap: 3.906vmax;
}
