.award {
  width: 100%;
  height: 74.07dvh;
  background-color: var(--white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.605vmax;
}

.award__top {
  display: flex;
  flex-direction: column;
  gap: 1.05vmax;
  width: 100%;
}
