.award {
  width: 100%;
  height: 84.89vh;
  background-color: var(--surface-light);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.605vmax;
  gap: 4.47vh;
}

.award__content {
  display: flex;
  flex-direction: column;
  gap: 5.32vh;
  flex: 1;
  min-height: 0;
}

.award__card_viewport {
  width: 88.54vw;
  flex: 1;
  min-height: 0;
  overflow: clip;
  padding: 0.56%;
}

.award__card_slider {
  display: flex;
  height: 100%;
  gap: 1vmax;
  transition: transform 0.4s ease;
  align-items: start;
}

.award__card_page {
  display: grid;
  min-width: 100%;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: auto;
  column-gap: 4.41%;
  row-gap: 2vmax;
  align-content: start;
}

@media (max-width: 1024px) {
  .award {
    height: 100svh;
    padding: 3.91vmin;
    gap: 3.91vmin;
  }

  .award__content {
    width: 100%;
    gap: 3.91vmin;
  }

  .award__card_viewport {
    width: 100%;
  }

  .award__card_page {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2.604vmin;
    row-gap: 2.604vmin;
  }
}

@media (max-width: 767px) {
  .award {
    padding: 4vmin;
    gap: 8vmin;
  }

  .award__content {
    gap: 5.34vmin;
  }

  .award__card_page {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 4vmin;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
