.award__pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.53vmax;
}

.award__pagination_arrow {
  width: 1.46vmax;
  aspect-ratio: 1 / 1;
  background: none;
  border: 1px solid var(--brown-400);
  border-radius: 0.27vmax;
  cursor: pointer;
  color: var(--black);
  font-size: 0.78vmax;
  display: flex;
  align-items: center;
  justify-content: center;
}

.award__pagination_dots {
  display: flex;
  align-items: center;
  gap: 0.53vmax;
}

.award__pagination_dot {
  width: 0.834vmax;
  height: 0.834vmax;
  border-radius: 50%;
  border: 1px solid var(--brown-400);
  background: transparent;
  cursor: pointer;
  transition: background-color 0.2s;
}

.award__pagination_dot--active {
  width: 1.88vmax;
  border-radius: 9999px;
  background-color: var(--brown-400);
}

.award__pagination_info {
  font-size: 0.94vmax;
  color: var(--brown-500);
}

@media (max-width: 1024px) {
  .award__pagination {
    gap: 1.31vmin;
  }

  .award__pagination_arrow {
    width: 3.65vmin;
    font-size: 1.96vmin;
  }

  .award__pagination_dots {
    gap: 1.31vmin;
  }

  .award__pagination_dot {
    width: 2.09vmin;
    height: 2.09vmin;
  }

  .award__pagination_dot--active {
    width: 4vmax;
  }

  .award__pagination_info {
    font-size: 2.35vmin;
  }
}
