.content__item {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.852vh;
}

.content__text {
  display: flex;
  flex-direction: column;
  gap: 1.39vh;
}

.content__text * {
  font-family: 'BookendBatang', sans-serif;
}

.content__title-eng {
  font-family: 'Pretendard', sans-serif;
  font-size: 1.46vmax;
  font-weight: 800;
  color: var(--black);
}

.content__title-kor {
  font-size: 1.46vmax;
  font-weight: 700;
  color: var(--black);
}

.content__subtitle {
  font-size: 0.89vmax;
  font-weight: 600;
  color: var(--typo-contentW);
}

.content__body {
  font-size: 0.78vmax;
  font-weight: 600;
  color: var(--typo-contentW);
  white-space: pre-line;
}

.content__caption {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content__caption-col {
  display: flex;
  flex-direction: column;
  gap: 0.19vh;
}

.content__caption-col:last-child {
  text-align: right;
}

.content__caption span {
  font-size: 0.68vmax;
  font-weight: 400;
  color: var(--typo-caption);
}

.content__empty {
  flex: 1;
}

.content__image {
  height: 100%;
  border-radius: 2px;
  overflow: hidden;
}

.content__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
